<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
     
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="UserContext" connectionString="Server=tcp:vo8qh1qcem.database.windows.net,1433;Database=nexDeskDb;User ID=binu@vo8qh1qcem;Password=Domaybietd90;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="HelpDeskEntities" connectionString="metadata=res://*/Models.HelpDeskEntities.csdl|res://*/Models.HelpDeskEntities.ssdl|res://*/Models.HelpDeskEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:vo8qh1qcem.database.windows.net,1433;initial catalog=nexDeskDb;integrated security=False;user id=binu@vo8qh1qcem;password=Domaybietd90;multipleactiveresultsets=True;connect timeout=30;encrypt=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnString" value="DefaultEndpointsProtocol=https;AccountName=portalvhdstyvmf6wst94m6;AccountKey=Ccs4QOzJ5mBquIF9mvC2GZ4E4qqxAJLzl61satX9omx4jvke+czm2mLuLx4JvC/t3YNaMPhhGIeF6ydwEaHLYA==" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <!--<customErrors mode="On">
      <error statusCode="404" redirect="~/Errors/NotFound" />
    </customErrors>-->
    <compilation debug="true" targetFramework="4.5"></compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600" />
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider,WebMatrix.WebData" />
      </providers>
    </membership>
    <roleManager enabled="true" />
    <globalization culture="" uiCulture="" />
    <pages>
      <namespaces></namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="Errors/NotFound" responseMode="ExecuteURL" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false"></defaultProxy>
  </system.net>
</configuration>