@using System.Collections
@using TestWebApp.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Nalezené zájezdy</h4>
    </div>
</div>
