
@{
    ViewBag.Title = "Recovering Password";
    Layout = "_LayoutAnonymous.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Forgot Password</legend>
        <ol>
            <li>
                @Html.Label("User Name", new { @for = "UserName",@class = "form-control" })
                @Html.TextBox("UserName")
                <span style="color:red;">@TempData["Message"]</span>
            </li>
        </ol>
        <input type="submit" class="btn btn-success" value="Recover" />
    </fieldset>
}