
@{
    ViewBag.Title = "Recovering Password";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group m-b-20">
        <input type="text" name="UserName" class="form-control input-lg" placeholder="Username" />
    </div>
    <div class="login-buttons">
        <button type="submit" class="btn btn-success btn-block btn-lg">Recover Password</button>
    </div>
    <br />
    <a href="/" class="pull-right">Back to login page</a>
    <div class="alert alert-transparent-warning">
        @TempData["Message"]
    </div>
}