@{
    ViewBag.Title = "Import users";
    //form for importing users
}
<div><label>@Html.ValidationSummary()</label></div>

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">Import file</h4>
    </div>
    <div class="panel-body">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td class="col-md-1"><label for="file">File name:</label></td>
                        <td class="col-md-4"><input type="file" name="file" id="file" /></td>
                        <td class="col-md-7"></td>
                    </tr>
                    <tr>
                        <td colspan="3"><input type="submit" class="btn btn-success" name="import" value="Import" /></td>
                    </tr>
                </table>
            </div>
        </form>

    </div>
</div>
