﻿@using TestWebApp.Models;
@model IEnumerable<Product>
@{
    ViewBag.Title = "Product List";
}

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">List</h4>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(product.name, "Details", new { @id = product.id })</td>
                        <td>@product.ProductCategory.name</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Roles.IsUserInRole("SuperUser"))
        {
            @Html.ActionLink("New", "Create", null, new { @class = "btn btn-primary" })
        }
    </div>
</div>
