@model List<string>
@{
    ViewBag.Title = "Attach file";
}

<h2>Attach file</h2>
@using (@Html.BeginForm("Index", "Attachment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <input type="file" name="attachedFile" />
    <input type="submit" class="btn btn-success pull-left" value="Send" />
}
@foreach (var item in @Model)
{ 
    <label>@item</label>
    <br />
}

